#emailUsFormContainer{
    /*display: none;*/
    position: relative;
    width: 90%;
    height: auto;
    box-shadow: 0px 2px 10px grey;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
}

body{
    text-align: center;
    /*background-color: #e3f1f9;*/
    /*background-image: url("../img/bg.jpg");*/
}

.accessible
{
    box-shadow: 0px 2px 4px;
}

.tutsa{
    height: 50%;
}

.cds{

}
.hvinfo{
    z-index: 2;
}

/*
*:hover{
    box-shadow: 0px 2px 5px black;
}*/
.shdow:hover{
    box-shadow: 0px 2px 5px black;
}
/*Add right margin= 0px;*/
